{{#each this}}
<div class="photo-card">
    <img src='{{webformatURL}}' alt='{{tags}}' data-src='{{largeImageURL}}'/>

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</div>
{{/each}}





{{!-- Тебе интересны следующие свойства:

webformatURL - ссылка на маленькое изображение для списка карточек
largeImageURL - ссылка на большое изображение (смотри пункт 'дополнительно')
likes - количество лайков
views - количество просмотров
comments - количество комментариев
downloads - количество загрузок --}}